.search-query-text {
  font-size: 3rem;
  font-weight: 400;
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
  margin: 2rem 0;
}

.search-query-text span {
  font-weight: 700;
  margin-left: 1rem;
}

.card-container {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 5rem;
  row-gap: 2.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* border: 1px solid rgba(0, 0, 0, 0.4); */
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.4);
  padding: 2rem;
}

.card__name {
  font-size: 1.8rem;
  text-transform: capitalize;
}

.card__time,
.card__size {
  font-size: 1.4rem;
}

.card-buttons {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

