.reserve-page {
  font-size: 2rem;
  margin-top: 10rem;
}

/* .reserve-page > *:not(.content-logo-container) {
  padding: 1rem;
} */

.join-message {
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  background-color: var(--color-primary);
  color: #fff;
  /* padding: 1rem; */
}

.reserve-form-group {
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.reserve-form-label {
  font-weight: 700;
}

.reserve-form-input {
  text-align: center;
  border: none;
  font-size: 2rem;
  background-color: #fff;
  /* padding: 1rem; */
}

.reserve-input-group {
  min-width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-step {
  font-size: 1.2rem;
  cursor: pointer;
}

.reserve-form-select {
  background-color: transparent;

  /* for Firefox */
  -moz-appearance: none;
  /* for Safari, Chrome, Opera */
  -webkit-appearance: none;
}

.reserve-form-select::-ms-expand {
  display: none;
}
