@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap');

:root {
  --color-bg: #d32727;
  --color-primary: #de3b40;
  --color-primary-light: #e05858;
  --color-shadow: 23, 26, 31;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'slnt' 0;

  font-size: 1.6rem;
  color: #171a1f;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

ul {
  list-style-type: none;
}

a {
  color: #fff;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container {
  width: 93vw;
  margin: 0 auto;
}

.heading--container {
  font-size: 3.3rem;
  font-weight: 400;
}

.btn {
  border-radius: 0.4rem;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--color-primary);
  color: white;
  font-size: 1.8rem;
  border-radius: 0.4rem;
  padding: 1.3rem 10rem;
  text-align: center;
  border: none;
}
a.btn {
  text-decoration: none;
}

.btn--primary--outline {
  font-size: 2rem;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  background-color: #fff;
  padding: 0.5rem 10rem;
}

.main {
  /* flex-grow: 1; */
  display: flex;
  flex-direction: column;
  /* place-items: center; */
  align-items: center;
  margin-bottom: 10rem;
}

.content-container {
  width: 58rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 0 1rem rgba(var(--color-shadow), 0.07);
  border-radius: 0.4rem;
  padding: 0.5rem;
}
/* .content-container:first-child {
  margin-top: 10rem;
} */

.content-logo-container {
  padding: 4rem;
}

.content-logo-container img {
  width: 60%;
}
